<!--=========================================================================-->
<!--= Trip - Index                                                          =-->
<!--=========================================================================-->
<%= stylesheet_link_tag 'trips' %>

<p class="page-title">My Trips</p>

<div class="trips-container">
  <% @trips.each do |trip| %>
    <%= link_to(trip_path(trip)) do %>
      <div class="trip card">
        <p class="name"><span><%= trip.name %><span/></p>
        <div class="info">
          <p><span>Beginning:</span> <%= trip.beginning.strftime("%d/%m/%Y") %></p>
          <p><span>Duration:</span> <%= trip.duration %> days</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="content">
  <%= form_for(@trip, url: trips_path) do |f| %>
    <% if @trip.errors.any? %>
      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><% puts "#{msg}" %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="container-add-trip">
      <button id="submit" class="btn">
        <i class="fa fa-5x fa-plus"></i>
        <%= f.submit('', :hidden => true) %>
      </button>
    </div>

  <% end %>
</div>


<!--=========================================================================-->
