<!--=========================================================================-->
<!--= Trip - Show                                                           =-->
<!--=========================================================================-->
<%= stylesheet_link_tag 'trips' %>

<!--= Trip ==================================================================-->
<p class="page-title">Trip</p>
<button class="btn btn-block delete-trip">
  <%= button_to("Delete", @trip, :method => "delete") %>
</button>
<%= form_for :trip, url: trip_path(@trip), method: :patch do |f| %>
  <div class="trip-info-container">
    <div class="input">
      <%= f.label(:name) %><br>
      <%= f.text_field(:name, :class=>'form-control') %>
    </div>
    <div class="input">
      <%= f.label(:beginning) %><br>
      <%= f.text_field(:beginning, type:'date', :class=>'form-control') %>
    </div>
    <div class="input last">
      <%= f.label(:duration, :class=>"disabled") %><br>
      <%= f.text_field(:duration, :class=>'form-control', disabled: true) %>
    </div>
  </div>
  <div>
  <button class="btn btn-block save-trip">
    <%= f.submit("Save") %>
  </button>
<% end %>

<!--= Locals ================================================================-->
<p class="page-title">Locals</p>
<div class="locals-container card">
  <!-- <div class="local">
    <%= image_tag('place.svg') %>
    <p><span>Paris</span></p>
  </div>

  <div class="local">
    <%= image_tag('place.svg') %>
    <p><span>London</span></p>
  </div> -->
</div>

<!--= Itinerary ============================================================-->
<p class="page-title">Itinerary</p>
<div class="itinerary-container">

  <% @days.each_with_index do |day, i| %>
    <div class="day card">
      <div class="day-header">
        <p><%= "#{i+1} - #{day.date.strftime('%d/%m/%Y')}" %></p>
      </div>
      <% @places[i].size.times do |j| %>
        <div class="place">
          <div class="row">
            <div class="col">
              <%= image_tag(@places[i][j].img) %>
            </div>
            <div class="col">
              <p><span><%= @places[i][j].name %></span></p>
              <p><%= @places[i][j].openinghours %></p>
              <p><%= @places[i][j].price %></p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="container-add-place">
        <button type="button" class="btn" data-toggle="modal" data-target="#modal"><i class="fa fa-5x fa-plus"></i></button>
      </div>
    </div>
  <% end %>

  <div class="container-add-day">
    <%= form_for(@day, url: trip_path) do |f| %>
        <button class="btn">
          <i class="fa fa-5x fa-plus"></i>
          <%= f.submit('', :hidden => true) %>
        </button>
    <% end %>
  </div>
</div>

<!--=========================================================================-->
