<!--=========================================================================-->
<!--= Trip - Show                                                           =-->
<!--=========================================================================-->
<%= stylesheet_link_tag 'trips' %>

<!--= Trip ==================================================================-->
<p class="page-title">Trip</p>
<%= form_for :trip, url: trip_path(@trip), method: :patch do |f| %>
  <div class="trip-info-container">
    <div class="input">
      <%= f.label(:name) %><br>
      <%= f.text_field(:name, :class=>'form-control') %>
    </div>
    <div class="input">
      <%= f.label(:beginning) %><br>
      <%= f.text_field(:beginning, :class=>'form-control') %>
    </div>
    <div class="input last">
      <%= f.label(:duration, :class=>"disabled") %><br>
      <%= f.text_field(:duration, :class=>'form-control') %>
    </div>
    <div id="submit" class="btn btn-primary">
      <%= f.submit("Save") %>
    </div>
  </div>
<% end %>

<!--= Locals ================================================================-->
<!-- <p class="page-title">Locals</p>
<div class="locals-container card">
  <div class="local">
    <%= image_tag('place.svg') %>
    <p><span>Paris</span></p>
  </div>

  <div class="local">
    <%= image_tag('place.svg') %>
    <p><span>London</span></p>
  </div>
</div> -->



<!--= Itinerary ============================================================-->

<p class="page-title">Itinerary</p>
<div class="itinerary-container">

  <% @days.each_with_index do |day, i| %>
    <div class="day card">
      <div class="day-header">
        <p><%"#{i} - #{day.date}"%></p>
      </div>
      <% @places[i].size.times do |j| %>
        <div class="place">
          <div class="row">
            <div class="col">
              <%= image_tag('place.svg') %>
            </div>
            <div class="col">
              <p><span><% @places[i][j].name %></span></p>
              <p><% "#{@places[i][j].opentime.strftime('%H:%M')} - #{@places[i][j].closetime.strftime('%H:%M')}" %></p>
              <p>€ <% @places[i][j].price %></p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="container-add-place">
        <button type="button" class="btn" data-toggle="modal" data-target="#modal"><i class="fa fa-5x fa-plus"></i></button>
      </div>
    <% end %>

  </div>

  <%= form_for(@day, url: trip_path) do |f| %>
    <% if @day.errors.any? %>
      <ul>
        <% @day.errors.full_messages.each do |msg| %>
          <li><% puts "#{msg}" %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="container-add-day">
      <button id="submit" class="btn">
        <%= f.submit('<i class="fa fa-5x fa-plus"></i>', style: "opacity: 0") %>
      </button>
    </div>
  <% end %>

</div>



<!--=========================================================================-->
