<!--=========================================================================-->
<!--= Modal                                                                 =-->
<!--=========================================================================-->

<div id="modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Place</h5>
      </div>
      <div class="modal-body">
        <!-- Pesquisa -->
        <div class="search-bar-container">
          <label for="search-bar"><i class="fa fa-search"></i></label>
          <input id="search-bar" type="text" class="form-control search-bar">
        </div>

        <% count = 0 %>
        <% Local.all.each_with_index do |local, i| %>
          <!-- Local -->
          <div class="modal-local">
            <%= content_tag(:div, "", class: "header waves-light", "data-toggle": "collapse", "data-target": "#collapse#{i}") do %>
              <%= image_tag("place.svg") %>
              <p><%= local.name %></p>
            <% end %>
            <%= content_tag(:div, "", id: "collapse#{i}", class: "collapse show") do %>
              <!-- Lugar -->
              <% local.places.all.each do |place| %>
                <%= content_tag(:label, "", class: "modal-place mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect", for: "checkbox-#{count}") do %>
                  <%= content_tag(:input, "", id: "checkbox-#{count}", type:"checkbox", class: "mdl-checkbox__input") %>
                  <span class="mdl-checkbox__label"><%= place.name %></span>
                <% end %>
                <% count += 1 %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal cancel" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-modal" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<!--=========================================================================-->
