<!--=========================================================================-->
<!--= Modal                                                                 =-->
<!--=========================================================================-->

<div id="modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Place</h5>
      </div>
      <%= form_for :day, url: update_day_path(:day), method: :put do |f| %>
        <div class="modal-body">
          <% Local.all.each_with_index do |local, i| %>
            <!-- Local -->
            <div class="modal-local">
              <%= content_tag(:div, "", class: "header waves-light", "data-toggle": "collapse", "data-target": "#collapse#{i}") do %>
                <%= image_tag("place.svg") %>
                <p><%= local.name %></p>
              <% end %>
              <%= content_tag(:div, "", id: "collapse#{i}", class: "collapse show") do %>
                <!-- Lugar -->
                <%= f.collection_check_boxes(:place_ids, local.places.all, :id, :name) do |b| %>
                  <div>
                    <%= b.check_box class: "mdl-checkbox__input" %>
                    <%= b.label class: "mdl-checkbox__label" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= hidden_field(:day, :places, :value => 1) %>
          <button type="button" class="btn btn-modal cancel" data-dismiss="modal">CANCEL</button>
          <button id="done" class="btn btn-modal save-img-btn">DONE</button>
        </div>
        <% end %>
    </div>
  </div>
</div>

<!--=========================================================================-->

<script>
$('#done').click(function() {
    $('form').submit();
    form_submitted = false;
    $("#modal").modal('hide');
});
</script>
